<%- include('../layout/header')%>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="well well-sm">
                    <legend class="text-center">Criar Categorias</legend>
                    <hr>
                    <form class="form-horizontal" method="POST" action="/categorias/nova">
                        <fieldset>
                            <!-- Name input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="name">Nome categoria: </label>
                                <div class="col-md-6">
                                    <input id="categoria" name="categoria" type="text" placeholder="Informe o nome da categoria" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 ">
                                    <button type="submit" class="btn btn-primary ">Criar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layout/footer')%>