<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Criar Publicação</h1>
        <form method="post" action="/publicacoes/create">
            <input placeholder="Informe o título" type="text" name="titulo" /><br/><br/>
            <textarea placeholder="Informe o conteúdo" name="conteudo"></textarea><br/>
            <button type="submit">Salvar </button>
        </form>
</body>
</html>