<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Minhas Publicacoes</h1>
    <a href="/publicacoes/create">Nova Publicação </a><br><br>

    <% publicacoes.forEach(value => { %>
        <fieldset>
            <h4>
                <%= value.titulo %>
            </h4>
            <p>
                <%= value.conteudo %>
            </p>
            <a href="/publicacoes/edit/<%= value.id %>">Editar</a>
            <a href="/publicacoes/destroy/<%= value.id%>">Excluir</a>
        </fieldset>
        <% })%>

</body>

</html>